@charset "UTF-8";
/*texte et paragraphe en roboto*/
* {
  font-family: "Roboto", sans-serif;
}

/* annulation paramètre sur toutes les balises*/
* {
  margin: 0px;
  padding: 0;
}

/*annulation decaration texte cliquable*/
a {
  text-decoration: none;
}

/*bouton explorer page accueil*/
.button-home {
  display: block;
  width: max-content;
  margin: auto;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 30px;
  padding: 15px 20px;
  font-weight: bold;
}

/*Animation coeur resto favoris page accueil */
.carte__resto__coeur {
  font-size: 20px;
  color: grey;
}
.carte__resto__coeur:hover {
  background: #FF79DA;
  color: #FF79DA;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/*pied de page*/
.footer {
  background-color: #353535;
  padding: 25px;
}
.footer__titre {
  font-size: 24px;
  font-family: "Shrikhand", sans-serif;
  color: white;
  margin-bottom: 15px;
}
.footer__texte {
  color: white;
}
.footer__icone {
  margin-right: 10px;
  font-size: 15px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
}

/*format logo ohmyfood*/
.logohome {
  height: 50px;
  width: 300px;
  padding: 20px 0px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.logohome__img {
  margin: auto;
  width: 250px;
}

/*format de page*/
#format_page {
  margin: auto;
  width: 100%;
}

/*localisation resto accueil*/
.location {
  display: flex;
  background-color: #d6d3d3;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.location__icon {
  margin-right: 15px;
}
.location__texte {
  display: inline-block;
  font-weight: 700;
}

/*texte pour reservation resto*/
.titrehome {
  padding: 40px 30px 55px 30px;
  background-color: #ebebeb;
  text-align: center;
}
.titrehome__titre {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  font-weight: bolder;
  width: 70%;
}
.titrehome__texte {
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
}

/*section fonctionnement reservation plats dans le resto de notre choix*/
.fonctionnement {
  padding: 55px 20px 45px 20px;
}
.fonctionnement__titre {
  margin-bottom: 30px;
}

.etape {
  height: 75px;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 10px 10px 10px 10px;
  padding: 0 70px 0 30px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.etape__icone {
  margin-right: 15px;
  color: #726b6b;
}
.etape__num {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -45px;
  color: white;
}

/*section cartes restauarants*/
.resto {
  padding: 55px 20px 45px 20px;
  background-color: #e6e3e3;
}
.resto__titre {
  margin-bottom: 30px;
}

.carte__resto {
  position: relative;
  height: 250px;
  margin-bottom: 0px;
  border-radius: 10px 10px 10px 10px;
}
.carte__resto__img {
  display: block;
  max-height: 175px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.carte__resto__new {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 80px;
  background-color: #99E2D0;
  color: #027055;
  position: absolute;
  right: 10px;
  top: 15px;
}
.carte__resto__format {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  color: black;
}

/*# sourceMappingURL=style.css.map */
