/*animation selection plat*/
.menu:hover .menu__icone
{
    width: 70px;
    opacity: 1;
    
}
.menu__icone__ok
{
    opacity: 0;
    transition: transform 2s, opacity 2s;
}
.menu:hover .menu__icone__ok
{ 
    transform: rotate(-360deg);
    opacity: 1;
}
.menu:hover .menu__texte
{
    width: 70%;
}

/*animation apparition menu*/
@keyframes menu-titre
{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes menu-1 
{
    0% {opacity:0;}
    100% {opacity:1;}
    from{top: 20px;}
    to{top: 0px;}
}
@keyframes menu-2 
{
    0% {opacity:0;}
    100% {opacity:1;}
    from{top: 20px;}
    to{top: 0px;}
}
@keyframes menu-3 
{
    0% {opacity:0;}
    100% {opacity:1;}
    from{top: 20px;}
    to{top: 0px;}
}
@keyframes menu-4 
{
    0% {opacity:0;}
    100% {opacity:1;}
    from{top: 20px;}
    to{top: 0px;}
}
/*animation coeur*/
@keyframes coeur 
{
    0% {opacity:0;}
    100% {opacity:1;}
}
/*animation loading spinner*/
@keyframes loader 
{
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes spinner
  {
    from {width: 0px;}
    to {width: 200px;}
  }