/*animation selection plat*/
.menu:hover .menu__icone
{
    width: 70px;
    
}
.menu__icone__ok
{
    transition: transform 2s;
}
.menu:hover .menu__icone__ok
{ 
    transform: rotate(-360deg);
}

/*animation apparition menu*/
@keyframes anim_menu 
{
    0% {opacity:0;}
    100% {opacity:1;}
}
/*animation apparition menu*/
@keyframes coeur 
{
    0% {opacity:0;}
    100% {opacity:1;}
}
/*animation loading spinner*/
@keyframes loader 
{
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes spinner
  {
    from {width: 0px;}
    to {width: 200px;}
  }