/*pied de page*/
.footer
{
    background-color: #353535;
    padding: 25px;
    &__titre{
        font-size: 20px;
        font-family: 'Shrikhand', sans-serif;
        color: white;
        margin-bottom: 10px;
    }
    &__texte{
        color: white;
        span{
            margin-left: 5px;
        }
    }
    &__icone{
        margin-right: 10px;
        font-size: 15px;
    }
    &__nav{
        display: flex;
        flex-direction: column;
    }
}