/*bouton explorer page accueil*/
.button-home
{
    display: block;
    width: max-content;
    margin: auto;
    background: linear-gradient($secondaire-couleur, $primaire-couleur);
    color: white;
    border-radius: 30px;
    padding: 15px 20px;
    font-weight: bold;
}