.button-home
{
    display: block;
    width: max-content;
    margin: auto;
    background-color: $primaire-couleur;  
    color: white;
    border-radius: 30px;
    padding: 15px 20px;
    font-weight: bold;
}