/*Animation coeur resto favoris page accueil */
.carte__resto__coeur
{
    font-size: 20px;
    color: grey;
    &:hover
    {
        background: $secondaire-couleur;
        color: $secondaire-couleur;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }

}