/*Animation coeur resto favoris page accueil */
.carte__resto__coeur,.resto__icone
{
    font-size: 25px;
    color: grey;
    &:hover
    { 
        color: $secondaire-couleur;
        font-weight: bold;
    }

}