/*texte et paragraphe en roboto*/
*{
    font-family: 'Roboto', sans-serif;
}
/*taille texte*/
p
{
    font-size: 14px;
}
h4
{
    font-size: 16px;
}
h3
{
    font-size: 18px;
}
h2
{
    font-size: 20px;
}
h1{
    font-family: 'Shrikhand', sans-serif;
    font-size: 28px;
}

.menu__titre,.menu__detail
{
    overflow: hidden;
    text-overflow: ellipsis;
}