.loader {
    background: linear-gradient($primaire-couleur,$secondaire-couleur);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    animation: loader 3s ease-in-out 3s forwards ;
    &__titre
    {
        top: 48%;
        position: relative;
        margin: auto;
        background-position: center;
        text-align: center;
    }
    &__spinner
    {
        position: relative;
        height: 30px;
        background-color: $tertiaire-couleurr;
        margin: auto;
        margin-top: 10px;
        animation: spinner 3s ease 1s both ;
        top: 52%;
    }
  }

  .loader__titre span {
    animation: grow 1s ease-in-out infinite;
  }
/*format de page*/
#format_page
{
    
    margin: auto;
    min-width: 280px;
    width: 100%;
    
}
header
{
    margin-bottom: 5px;
    height: 100%;
    box-shadow: 0px 0px 30px #999998;
}
/*localisation resto accueil*/
.location
{
    display: flex;
    background-color: #e2e0e0;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    &__icon{
        margin-right: 15px
    }
    &__texte{
        display: inline-block;
        font-weight: 700;
    }  
}
/*texte pour reservation resto*/
.titrehome
{
    padding: 40px 30px 55px 30px;
    background-color: #ebebeb;
    text-align: center;

    &__titre{
        text-align: center;
        margin: auto;
        margin-bottom: 20px;
        font-weight: bolder;
        width: 70%;
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
    }
    &__texte{
        margin: auto;
        text-align: center;
        margin-bottom: 30px;
        width: 100%;
    }
}
/*section fonctionnement reservation plats dans le resto de notre choix*/
.fonctionnement
{
    padding: 55px 20px 45px 20px;
        &__titre{
            margin-bottom: 30px;
        }
       
}
.etape
{
    box-shadow: 2px 2px 20px #999998;
    height: 75px;
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 20px 20px 20px 20px;
    padding: 0 10px 0 15px;
    margin-bottom: 20px;
    margin-left: 10px;
    &:hover
    {
        background-color: #e6e6e6;
        .etape__icone
        {
            color: $primaire-couleur;
        }
    }  
      
        &__icone{
            margin-right: 25px;
            color: #726b6b;
            font-size: 20px;
            
        }
        &__num{
            height: 25px;
            min-width: 25px;
            border-radius: 50%;
            background-color: $primaire-couleur;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            left: -27px;
            color: white;
        }
          
}
/*section cartes restauarants*/
.resto
{
    padding:  45px 20px 45px 20px;
    background-color: rgb(230, 227, 227);
    &__titre{
      margin-bottom: 30px;
    }
}
.carte__resto
{
    position: relative;
    height: 250px;
    margin-bottom: 5px;
    border-radius: 10px 10px 10px 10px;
      
      &__img
      {
          display: block;
          max-height: 170px;
          width: 100%;
          border-radius: 10px 10px 0 0;
          object-fit: cover;
      }
      &__new
      {
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 80px;
        background-color: $tertiaire-couleurr;
        color: #027055;
        position: absolute;
        right: 10px;
        top: 15px;
    }
      &__format
      {
          background-color: white;
          padding: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 0 0 10px 10px;
          color: black;
          p
          {
              margin-top: 5px;
          }
      }
}

/*responsive page accueil*/
@media screen and (min-width: 720px) and (max-width: 1023px)
{
    .carte__resto,.resto__titre,.fonctionnement
    {
        max-width: 722px;
        margin: auto;
    }
}
@media screen and (min-width: 1024px)
{
    .carte__resto,.resto__titre,.fonctionnement
    {
        width: 90%;
        margin: auto;
        
    }
    .fonctionnement__titre, .resto__titre
    {
        text-align: center;
        text-shadow: 2px 2px 2px #d3cdcd;
    
    }
    
    .liste
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .section__carte__resto
    {
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .carte__resto
    {
        width: 450px;
        margin-bottom: 20px;
    }
    .etape
    {
        width: 100%;
        margin-right: 20px;
    }
}


