@import "../base/reset.scss" ; 
@import"../base/typography.scss";
@import "../layout/footer.scss","../layout/header.scss";
@import "../abstracts/variables.scss";
@import "../components/buttons.scss","../components/coeur.scss";
#format_page
{
    margin: auto;
    width: 100%;
}
/*header page resto*/
header
{
    padding: 10px 25px 10px 25px;
    display: flex;
    align-items: center;
}
.photo__header
{
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}
/*carte menu resto*/
.resto
{
    margin-top: -30px;
    position: relative;
    border-radius: 30px 30px 0 0;
    background-color: #f6f6f6;
    padding: 35px 15px 80px 15px;
    &__nom
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    h2
    {
        
        margin-bottom: 20px;
        width: min-content;
        border-bottom: 2px solid $tertiaire-couleurr;
    }
}

.menu
{
    height: 70px;
    width: 100%;
    padding-left: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden; 
    &__texte
    {
        width: 70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__prix
    {
        margin-left: 10px;
    }
    &__icone
    {
        height: 70px;
        width: 60px;
        background-color: $tertiaire-couleurr ;
        margin-left: 25px;
        margin-right: -70px;
        border-radius: 0 10px 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}