/* annulation paramètre sur toutes les balises*/
*{
    
    margin: 0px;
    padding: 0;
    
}
/*annulation decaration texte cliquable*/
a
{
    text-decoration: none;
}
/*supression le pointeur du loading spinner*/
.loader
{
    pointer-events: none;
}
